* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f0f5ff;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.titles {
  padding: 20px;
}
.heading {
  color: #2c3e50;
  margin-bottom: 5px;
}

.inputboxclass {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}

#inputbox {
  width: 70%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f8fafc;
}

button {
  background-color: #2563eb;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}


.card {
  display: flex;
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.first,
.second,
.third {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.one {
  color: #2563eb;
  font-size: 24px;
} 
.head2 {
  color: #10b981;
  font-size: 24px;
} 
.four {
  font-size: 24px;
}


.lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.item {
  background-color: white;
  padding: 15px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}

.item input {
  margin-right: 15px;
  width: 18px;
  height: 18px;
}
.item span {
  flex: 1;
  text-align: left;
}


.item input:checked + span {
  text-decoration: line-through;
  color: #94a3b8;
}

.actions {
  opacity: 0; 
  display: flex;
  gap: 15px;
}

.item:hover .actions {
  opacity: 1; 
}

.actions i {
  font-style: normal;
  cursor: pointer;
  color: #3b82f6;
}
.actions .del {
  color: #ef4444;
}
